---
// Tags landing -> `/tags/`.
import ListLayout from '../../layouts/ListLayout.astro';
import { getSortedPosts } from '../../utils/posts';
import { getTags } from '../../utils/taxonomy';

const posts = await getSortedPosts();
const tags = getTags(posts);
---

<ListLayout title="Tags" description="Browse every post by tag.">
  <ul class="taxonomy-cloud">
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag.slug}/`}>
            {tag.name} <span class="count">({tag.posts.length})</span>
          </a>
        </li>
      ))
    }
  </ul>
</ListLayout>
